div.cardSetter {
  height: calc(100vh - 2.5rem);
  //   background-color: rgb(235, 90, 90);
  div.titleDiv {
    background-color: transparent;
    height: 30vh;
    padding-top: 5rem;
    span.nameCard {
      border: 2px solid black;
      border-radius: 15px;
      margin: 0 2rem;
      padding: 0.6rem 8rem 0.6rem 8rem;
      font-size: 3rem;
      font-family: "Carattere", cursive;
      place-content: center;
    }
  }
  div.cardInputType {
    height: 20vh;
    display: flex;
    font-family: "Lato", sans-serif;

    div.solidDiv {
      flex: 1;
      padding: 3rem;
    }
    div.imageDiv {
      flex: 1;
      padding: 3rem;
    }
    button {
      height: 3rem;
      width: 10rem;
      border-radius: 8px;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  div.cardDesc {
    margin-top: 2rem;
    span.cardDescText {
      font-size: 1.75rem;
      font-family: "Lato", sans-serif;
    }
  }
}

div.solidModelContainer {
  position: absolute;
  top: calc(30vh - 2.5rem);
  left: 40vw;
  // background-color: #c74848;
  height: 50vh;
  width: 30rem;
  // transform: translate(-50%, -50%);
  border: 5px solid #ffff00;
  padding: 10px;
}
